html {
  box-sizing: border-box;
  // scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: #0C0C0D;
  font-family: 'Gilroy';
  color: #fff;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1255px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}