@media (min-width: 1101px) {
  .service {
    &__box {
      margin: -245px 0 0 -25px;
      padding: 0 50px;
      display: flex;
      transition: linear .6s;
      flex-wrap: nowrap;
    }

    .service__item-inner {
      border-radius: 30px;
      background-color: rgba(34, 53, 36, 0.60);
      padding: 30px 20px;
      height: fit-content;
      transition: linear .8s;
      max-height: 580px;
    }

    &__item {
      border-radius: 30px;
      width: 258.5px;
      flex-shrink: 0;
      position: relative;
      padding: 0 0 0 25px;
      // transition: all .4s ease-out;
      transition: all .4s;
      height: fit-content;
      min-height: 300px !important;


      h5 {
        height: 48px;
        padding: 0 4px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        text-transform: uppercase;
        text-align: center;
        padding: 0;
        position: absolute;
        top: 77px;
        left: 50%;
        transform: translateX(-50%);
        width: 176px;
        transition: linear .5s !important;
      }

      .title-desk {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        opacity: 0;
        transition: linear .5s;
      }

      .title-mob {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        transition: linear .5s;
        width: 176px;
        text-align: center;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        height: auto;
        max-height: 0;
        transition: all .5s ease-out;
        overflow: hidden;
        opacity: 0;
      }

      ul {
        height: auto;
        max-height: 0;
        transition: all .5s ease-out;
        overflow: hidden;
        opacity: 0;
      }

      li {
        margin: 0 0 6px 0;
        padding: 0 0 0 25px;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 4px;
          width: 16px;
          height: 16px;
          background-image: url("../images/dest/icons/check.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          opacity: 1;
          transition: linear .9s;
        }
      }

      .btn {
        margin: 30px 0 0 0;
        // width: 100%;
        transition: linear .6s;
        background: #FF8E0C;
        max-width: 181px;
        flex-shrink: 0;
        white-space: nowrap;

        &::before {
          background-color: #fff;
          transition: linear .4s;
        }
      }

      &:hover {

        .excellence__icon {
          box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.25);
          background-color: #123420;
        }
      }

      .service__item-box {
        transition: linear .5s;
        position: relative;
        height: 125px;
      }

      .service__icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover {
        // transition: all 1.2s ease-in;
        flex-shrink: 0;
        width: 375px;

        .service__item-inner {
          background-color: rgba(59, 70, 83, 0.40);
          padding: 40px;
        }

        .title-desk {
          opacity: 1;
        }

        .title-mob {
          right: -10px;
          bottom: 100px;
          opacity: 0;
        }


        .service__item-box {
          position: relative;
          height: 45px;
        }

        h5 {
          padding: 0;
          height: auto;
          color: #DDA564;
          font-size: 20px;
          font-weight: 500;
          line-height: 120%;
          text-transform: uppercase;
          text-align: left;
          padding: 0;
          position: absolute;
          top: 50%;
          left: 65px;
          transform: translate(0, -50%);
          width: 84%;

        }

        .service__icon {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(0);
        }

        p {
          // font-size: 14px;
          // font-weight: 400;
          // line-height: 130%;
          // opacity: 1;
          max-height: 1000px;
          transition: all 1.5s ease-in;
          opacity: 1;
        }

        ul {
          max-height: 1000px;
          transition: all 1.5s ease-in;
          opacity: 1;
        }

        li {
          margin: 0 0 6px 0;
          padding: 0 0 0 25px;
          position: relative;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            width: 16px;
            height: 16px;
            background-image: url("../images/dest/icons/check.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            opacity: 1;
          }
        }

        .btn {
          margin: 50px 0 0 0;
          width: 182px;

          &::before {
            background-color: #fff;
            opacity: 1 !important;
          }
        }
      }
    }

    &__item.active {
      width: 375px;
      flex-shrink: 0;

      .title-desk {
        opacity: 1;
      }

      .title-mob {
        right: -100px;
        bottom: 100px;
        opacity: 0;
      }

      .service__item-inner {
        background-color: rgba(59, 70, 83, 0.40);
        padding: 40px;
      }

      .service__item-box {
        height: 45px;
      }

      h5 {
        padding: 0;
        height: auto;
        color: #DDA564;
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        text-transform: uppercase;
        text-align: left;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 65px;
        transform: translate(0, -50%);
        width: 84%;
        transition: linear .5s;
      }

      .service__icon {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0);
      }

      p {
        max-height: 1000px;
        opacity: 1;
      }

      ul {
        max-height: 1000px;
        opacity: 1;
      }

      li {
        margin: 0 0 6px 0;
        padding: 0 0 0 25px;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 4px;
          width: 16px;
          height: 16px;
          background-image: url("../images/dest/icons/check.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          opacity: 1;
          transition: linear .4s;
        }
      }

      .btn {
        margin: 50px 0 0 0;
        width: fit-content;

        &::before {
          background-color: #fff;
          opacity: 1 !important;
        }
      }
    }


    &__item-inner {
      position: relative;
      z-index: 1;
    }

    &__item-box {
      margin: 0 0 30px 0;
      align-items: center;
    }

    &__icon {
      margin: 0 auto 30px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 47px;
      height: 47px;
      border-radius: 12px;
      background: #123420;
      flex-shrink: 0;
      transition: linear .5s;
    }

  }
}

@media (max-width: 1300px) {
  .service__box {
    padding: 0 20px;
    justify-content: center;
  }

  .service__item.active,
  .service__item:hover {
    width: 340px;
  }

  .service__item {
    width: 238.5px;
  }

}

@media (max-width: 1100px) {
  .service__right {
    padding: 0 35px 0 60px;
    max-width: 800px;
    width: 100%;
  }

  .service__inner {
    padding: 30px 0 260px 0;
  }

  .statistic__top h3 {
    margin: 0 5% 0 0;
  }

  .title-desk {
    display: none;
  }

  .header__btn {
    margin: 0 0 0 auto;
    padding: 0;
    display: block;
    width: 20px;
    height: 17px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    flex-shrink: 0;
    position: relative;
    z-index: 999;

    span {
      margin: 0 0 0 auto;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff;
      transition: linear .2s;
      border-radius: 4px;
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      transition: linear .2s;
      border-radius: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      transition: linear .2s;
      border-radius: 4px;
    }
  }

  .header__btn.open {
    span {
      opacity: 0;
    }

    &::before {
      top: 8px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 8px;
      transform: rotate(-45deg);
    }
  }

  .header__nav {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 100%;
    height: 110vh;
    z-index: 998;
    display: flex;
    padding: 115px 0 35px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(-100%);
    transition: transform .3s;
    overflow: auto;
    background-color: #0C0C0D;
    background-image: url("../images/dest/icons/mob-menu.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right top;

    &>ul {
      padding: 0 0 20px 0;
      width: 100%;
      margin: 0;
      flex-direction: column;
      overflow: auto;

      &>li {
        margin: 0 0 10px 0;
        background-color: rgba(59, 70, 83, 0.40);

        a {
          padding: 20px 24px;
        }
      }
    }
  }

  .header__link {
    margin: 60px 0 45px 15px;
  }

  .header__nav.open {
    transform: translateX(0);
  }

  .header__social {
    display: flex !important;
  }

  .intro {
    padding: 210px 0 70px;
    background-size: 100%;
    background-position: right top;
  }



  .service__box {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -245px 0 0 -20px;
    padding: 0 10px;
    width: calc(100% + 20px);
  }

  .service__item {
    margin: 0 0 20px 20px;
    width: calc(50% - 20px) !important;
    flex-shrink: 0;

    .service__item-inner {
      background-color: rgba(59, 70, 83, 0.40);
      padding: 40px;
      border-radius: 20px;
    }

    .service__item-box {
      display: flex;
    }

    .service__icon {
      margin: 0 30px 0 0;
    }

    h5 {
      padding: 0;
      height: auto;
      color: #DDA564;
      font-size: 20px;
      font-weight: 500;
      line-height: 120%;
      text-transform: uppercase;
    }

    p {

      font-size: 14px;
      font-weight: 400;
      line-height: 130%;
      opacity: 1;
    }

    li {
      margin: 0 0 6px 0;
      padding: 0 0 0 25px;
      position: relative;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: 16px;
        height: 16px;
        background-image: url("../images/dest/icons/check.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 1;
        transition: linear .4s;
      }
    }

    .btn {
      margin: 50px 0 0 0;
      width: fit-content;

      &::before {
        background-color: #fff;
        opacity: 1 !important;
      }
    }
  }

  .service__left h3 {
    width: calc(100vw - 170px);
    position: absolute;
    top: -60px;
    left: 0;
    margin: 0;
  }

  .service__inner {
    position: relative;
    background-image: none;
    border-radius: 20px 0px 20px 20px;
    background: linear-gradient(180deg, #46EDA2 0%, #42dd98 0.01%, #15201B 100%);

    &::before {
      content: "";
      position: absolute;
      top: -60px;
      right: 0;
      width: 124px;
      height: 61px;
      background-image: url("../images/dest/content/serbice-mob.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .contacts {
    padding: 60px 0 90px;
  }

  .service__item .service__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border-radius: 12px;
    background: #46eda24d;
    margin: 0 0 30px 0;
  }

  .service__item-box.service__item-box--hover {
    display: none;
  }

  .service__item-box {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .statistic__top {
    flex-direction: column;
  }

  .statistic__top h3 {
    margin: 0 0 35px 0;
  }

  .statistic__top p {
    max-width: 100%;
  }

  .statistic__top {
    margin: 0 0 30px 0;
  }

  .header__inner {
    height: 70px;
  }

  .header__logo {
    width: 60px;
  }

  .intro {
    margin: -70px 0 0 0;
    padding: 115px 0 30px;
  }

  .info__inner {
    flex-direction: column;
  }

  .info__left {
    position: relative;
    padding: 0 0 0 100px;
    margin: 0 0 20px 0;
    max-width: 100%;
    width: 100%;
  }

  .excellence__top {
    margin: 0 0 30px 0;
    flex-direction: column;
  }

  .excellence__top h2 {
    max-width: 700px;
    margin: 0 0 30px 0;
    padding: 0;
  }

  .excellence__top p {
    margin: 0 0 10px 0;
    max-width: 100%;
  }

  .excellence__list {
    flex-direction: column-reverse;
    margin: 0 !important;
  }

  .excellence__box {
    margin: 0 0 25px -25px !important;
    width: calc(100% + 25px);
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .excellence__item {
    padding: 16px;
    margin: 0 0 0 25px;
    width: calc(50% - 25px);
  }

  .service__inner {
    padding: 27px 14px 260px 14px;
    flex-direction: column;
  }

  .service__left h4 {
    margin: 0 0 20px 0;
    max-width: 350px;
  }

  .service__right {
    padding: 0;
    max-width: 850px;
    width: 100%;
  }

  .contacts__left {
    margin: 0 4% 0 0;
    max-width: 320px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .statistic__top h3 {
    font-size: 30px;
    max-width: 280px;
    margin: 0 0 20px 0;

    strong {
      margin: 0;
      font-size: 46px;
    }
  }

  .statistic__top p {
    max-width: 100%;
  }

  .statistic__item {
    font-size: 12px;
    width: 50%;
    margin: 0 0 20px 0;
  }

  .statistic__top {
    margin: 0 0 15px 0;
  }

  .statistic {
    padding: 0 0 5px 0;
  }

  .statistic::before{
    width: 275px;
    height: 800px;
    top: auto;
    bottom: -376px;
    z-index: 1;
    display: block;
  }
  .statistic__item p {
    font-size: 10px;
  }

  .statistic__box {
    margin: 0;
    font-size: 38px;
    justify-content: center;
  }

  .statistic .container::before {
    display: none;
  }

  .header__nav {
    &>ul {
      &>li {
        a {
          padding: 20px 24px !important;
          font-size: 14px !important;
        }
      }
    }
  }

  .intro {
    background-size: 790px;
    background-position: top 0px right -148px;
  }

  .intro h1 {
    margin: 0 0 10px 0;
    font-size: 46px;
  }

  .intro p {
    margin: 0 0 40px 0;
    color: #fff;
    font-size: 16px;
  }

  .intro .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 45px 0;
    padding: 10px 18px !important;
    height: 39px;
    font-size: 16px;
  }

  .info {
    padding: 30px 0 30px;
  }

  .info__left {
    padding: 0 0 0 60px;
    margin: 0 0 10px 0;

    p {
      font-size: 20px;
    }
  }

  .info__left::after {
    width: 40px;
  }

  .info__right {
    padding: 0 0 0 36px;
    width: 128px;

    p {
      font-size: 16px;
    }
  }

  .info__right::after {
    width: 30px;
  }

  .excellence {
    padding: 45px 0 65px;
    background-position: left -73px top 18%;
    background-size: 435px;
  }

  .excellence__box {
    margin: 0 0 0 -25px !important;
  }

  .excellence__item {
    padding: 16px;
    margin: 0 0 20px 25px;
    width: 100%;
  }

  .excellence__top h2 {
    max-width: 400px;
  }

  .excellence__top h2 p {
    font-size: 30px;
    letter-spacing: 0.9px;
  }

  .excellence__top h2 p:last-child {
    max-width: 250px;
    margin: 0 0 0 auto;
  }

  .excellence__top h2 span {
    font-size: 46px;
    letter-spacing: 1.38px;
  }

  .excellence__top p {
    margin: 0 0 10px 0;
    font-size: 12px;
  }

  .excellence__item h5 {
    margin: 0 0 15px 0;
  }

  .excellence__item p {
    font-size: 12px;
    line-height: 120%;
  }

  .excellence__item .btn {
    margin: 25px 0 0 0;
  }

  .btn {
    padding: 17px 26px !important;
    font-size: 12px !important;

    img,
    svg {
      width: 14px;
      height: 14px;
    }
  }


  .service__item {
    width: calc(100% - 20px) !important;
  }

  .service__left h3 {
    height: 42px;
    width: calc(100vw - 160px);
    padding: 10px 18px;
    font-size: 18px;
    letter-spacing: 1.08px;
  }

  .service__left h4 {
    font-size: 26px;
    line-height: 120%;
  }

  .service__right p {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.36px;
  }

  .service__item .service__item-inner {
    padding: 16px;
  }

  .service__item-box {
    flex-direction: column;
  }

  .service__item .btn {
    margin: 20px 0 0 0;
  }

  .contacts__inner {
    flex-direction: column;
  }

  .contacts__left {
    margin: 0 0 30px 0;
    max-width: 100%;
    width: 100%;
  }

  .service {
    padding: 80px 0 20px;
  }

  .contacts {
    padding: 20px 0 60px;
  }

  .contacts__left h5 {
    margin: 0 0 15px 0;
    font-size: 26px;
    line-height: 120%;
  }

  .contacts__left p {
    margin: 0 0 20px 0;
    font-size: 12px;
    line-height: 130%;
  }

  .contacts__left a {
    font-size: 12px;
  }

  .contacts__left li {
    margin: 0 0 5px 0;
  }

  .contacts__right {
    flex-direction: column;
  }

  .contacts__right-img {
    margin: 0 0 10px 0;
    position: relative;
    height: 38px;
    width: 22px;
    transform: rotate(90deg);

    img {
      position: absolute;
      bottom: 8px;
    }
  }

  .form__group input {
    height: 40px;
    padding: 10px 12px 10px 12px;
    color: #fff;
    font-size: 12px;

    &::placeholder {
      font-size: 12px;
    }
  }

  .form__group textarea {
    height: 135px;
    padding: 10px 12px 10px 12px;
    font-size: 12px;
    border-radius: 18px;

    &::placeholder {
      font-size: 12px;
    }
  }

  .form__group label {
    margin: 0 0 12px 7px;
    font-size: 12px;
  }

  .form__group {
    margin: 0 0 7px 0;
  }

  .form p {
    margin: -2px 0 20px 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 120%;
  }

  .footer__inner {
    padding: 6px 0 25px;
  }

  .footer p {
    font-size: 10px;
  }

  .footer::after {
    background-image: url("../images/dest/icons/mob-menu.svg");
    background-position: bottom 0 right -110px;
    background-size: 320px 615px;
  }
}