@import "global";
@import "fonts";
@import "buttons";


/*start header==========*/
.header {
  &__inner {
    height: 90px;
    display: flex;
    align-items: center;
  }

  &__logo {
    position: relative;
    z-index: 999;
    margin: 0 70px 0 0;
    display: block;
    width: 130px;
    height: 44px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    width: 100%;

    ul {
      display: flex;
    }

    li {
      margin: 0 12px 0 0;
    }

    a:not(.header__link) {
      display: flex;
      padding: 10px 16px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 100%;
      text-transform: capitalize;
      border-bottom: 2px solid transparent;
      transition: linear .2s;

      &:hover {
        border-color: #46EDA2;
      }
    }
  }

  &__btn {
    display: none;
  }

  &__social {
    display: none !important;
  }

  &__link {
    margin: 0 0 0 auto;
  }
}

.header.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  z-index: 999;
  background-color: #0F0E0E;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
}

.intro.margin-top {
  margin: 0;
}

.margin-top {
  margin: 90px 0 0 0;
}

/*end header==========*/

/*start intro================*/
.intro {
  margin: -90px 0 0 0;
  padding: 220px 0 73px;
  background-image: url("../images/dest/content/intro-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;

  &__inner {
    max-width: 590px;
    width: 100%;
  }

  h1 {
    margin: 0 0 18px 0;
    font-size: 56px;
    font-weight: 800;
    line-height: 120%;

    span {
      color: #46EDA2;
    }
  }

  p {
    margin: 0 0 70px 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }

  .btn {
    margin: 0 0 70px 0;
    padding: 16px 30px;
    font-weight: 500;
    height: 56px;
    width: fit-content;
    border-radius: 50px;
    font-size: 20px;
  }

  ul {
    margin: 0 0 0 5px;
    display: flex;
  }

  li {
    margin: 0 20px 0 0;
    width: 20px;
    height: 20px;
    transition: linear .2s;

    &:hover {
      opacity: .7;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

/*end intro================*/

/*start info============*/
.info {
  padding: 130px 0 55px;
  &__inner {
    display: flex;
    max-width: 1010px;
    width: 100%;
    margin: 0 auto;
    align-items: flex-end;
  }

  p {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
  }

  &__left {
    position: relative;
    padding: 0 0 0 100px;
    margin: 0 125px 0 0;
    max-width: 600px;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #46EDA2;
    }
  }

  &__right {
    position: relative;
    margin: 0 0 -30px 0;
    padding: 0 0 0 80px;
    align-items: flex-end;
    display: flex;
    height: fit-content;

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 60px;
      height: 3px;
      background-color: #DDA564;
    }

    p {
      color: #DDA564;
      font-size: 20px;
    }
  }
}

/*end info============*/

/*start excellence============*/
.excellence {
  padding: 95px 0 45px;
  background-image: url("../images/dest/content/excellence-bg.png");
  background-repeat: no-repeat;
  background-position: left 35%;
  background-size: 50%;

  &__top {
    margin: 0 0 15px 0;
    display: flex;
    justify-content: space-between;

    h2 {
      padding: 7% 0 0 8%;

      span {
        color: #46EDA2;
        font-size: 80px;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: 2.4px;
      }

      p {
        margin: 0;
        font-size: 46px;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: 1.38px;
      }

      p:last-child {
        text-align: right;
      }
    }

    p {
      max-width: 496px;
      margin: 0 0 0 20px;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__list {
    margin: 0 0 0 -25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__box {
    margin: 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(33.33333% - 25px);
  }

  &__box:nth-child(2) {
    margin: 0 0 85px 25px;
  }

  &__box:nth-child(3) {
    margin: 0 0 130px 25px;
  }

  &__item {
    position: relative;
    margin: 0 0 25px 0;
    padding: 40px;
    border-radius: 30px;
    overflow: hidden;
    background-color: rgba(59, 70, 83, 0.40);
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #46EDA2 0%, #46EDA2 0.01%, #15201B 100%);
      opacity: 0;
      transition: linear .2s;
    }

    h5 {
      margin: 0 0 30px 0;
      color: #FF8E0C;
      font-size: 20px;
      font-weight: 500;
      line-height: 120%;
      text-transform: uppercase;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 130%;
      flex: 1 1 auto;
      color: #D9D9D9;
    }

    li {
      margin: 0 0 6px 0;
      padding: 0 0 0 25px;
      position: relative;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: 16px;
        height: 16px;
        background-image: url("../images/dest/icons/check.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    .btn {
      margin: 50px 0 0 0;
      background-color: #E0E0E0;
      color: #3B4653;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .excellence__icon {
        box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.25);
        background-color: #123420;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    height: 100%;
  }

  &__icon {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border-radius: 12px;
    background: rgba(70, 237, 162, 0.30);
    flex-shrink: 0;
    transition: linear .2s
  }
}

/*end excellence============*/

.statistic {
  padding: 30px 0 0 0;
  background-image: url("../images/dest/content/service-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -209px;
    left: 0;
    width: 595px;
    height: 1399px;
    background-image: url("../images/dest/icons/service.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &__top {
    display: flex;
    margin: 0 0 90px 0;

    h3 {
      margin: 0 6% 0 0;
      max-width: 545px;
      width: 100%;
      color: #FFF;
      font-size: 46px;
      font-weight: 800;
      line-height: 120%;
      letter-spacing: 1.38px;

      strong {
        color: #FF8E0C;
        margin: 25px 0 0 0;
        display: block;
        text-align: right;
        font-size: 80px;
      }
    }

    p {

      max-width: 495px;
      color: #D9D9D9;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__inner {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    text-align: center;
    margin: 0 15px 45px 15px;

    p {
      max-width: 185px;
      margin: 10px auto 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0.42px;
    }
  }

  &__box {
    margin: 0 50px;
    display: flex;
    background: linear-gradient(182deg, #FFF 22.2%, rgba(255, 255, 255, 0.00) 80.63%);
    background-position: center;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-size: 80px;
    font-weight: 500;
    line-height: 120%;

    strong {
      display: block;
      font-weight: 500;
    }

    span {}
  }

}

/*start service===============*/
.service {
  padding: 90px 0 65px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 5%;
    width: 360px;
    height: 600px;
    background-image: url("../images/dest/icons/social.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__inner {
    padding: 0 0 260px 0;
    display: flex;
    justify-content: space-between;
    background-image: url("../images/dest/content/service.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 510px;
  }

  &__left {
    max-width: 360px;
    width: 100%;

    h3 {
      margin: 0 0 60px 55px;
      padding: 10px 50px;
      font-size: 24px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1.44px;
      text-transform: uppercase;
      text-align: center;
      color: #0F0E0E;
      height: 49px;
      border-radius: 50px;
      background-color: rgba(70, 237, 162, 0.80);
      width: fit-content;
    }

    h4 {
      margin: 0 0 0 80px;
      font-size: 32px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 1.92px;
      text-transform: uppercase;

      span {
        color: #0F0E0E;
      }
    }
  }

  &__right {
    padding: 71px 35px 0 60px;
    max-width: 800px;
    width: 100%;


    p {
      margin: 0 0 10px 0;
      color: #0F0E0E;
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0.42px;
    }
  }

  &__item {
    p {
      color: #C5C5C5;
    }
  }

}

/*end service===============*/

/*start contacts===============*/
.contacts {
  padding: 140px 0 130px;

  &__inner {
    max-width: 1125px;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  &__left {
    margin: 0 8% 0 5%;
    max-width: 430px;
    width: 100%;

    h5 {
      margin: 0 0 30px 0;
      font-size: 30px;
      font-weight: 500;
      line-height: 120%;
      text-transform: uppercase;

      span {
        color: #46EDA2;
      }
    }

    p {
      margin: 0 0 60px 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;
    }

    ul {
      max-width: 225px;
    }

    li {
      margin: 0 0 20px 0;
      transition: linear .2s;

      &:hover {
        opacity: .7;
      }
    }

    a {
      display: flex;
      align-items: center;
      width: fit-content;
      color: #FFF;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.42px;
    }

    img {
      width: 24px;
      height: 24px;
      margin: 0 10px 0 0;
    }
  }

  &__right {
    display: flex;
    width: 100%;
  }

  &__right-img {
    margin: 0 30px 0 0;
    width: 38px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .form {
    max-width: 480px;
  }
}

.form {
  width: 100%;

  &__group {
    margin: 0 0 25px 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      margin: 0 0 12px 24px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    input {
      height: 50px;
      padding: 15px 15px 15px 24px;
      border-radius: 50px;
      background-color: rgba(59, 70, 83, 0.40);
      outline: none;
      border: none;
      color: #fff;

      &::placeholder {
        color: #7D7D7D;
        font-size: 14px;
        font-weight: 500;
      }
    }

    textarea {
      height: 185px;
      resize: none;
      padding: 15px 15px 15px 24px;
      border-radius: 26px;
      background-color: rgba(59, 70, 83, 0.40);
      outline: none;
      border: none;
      color: #fff;

      &::placeholder {
        color: #7D7D7D;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  &__group.error {
    & * {
      color: #F90000;
    }

    input {
      border: 1px solid #F90000;

      &::placeholder {
        color: #F90000;
      }
    }

    span {
      display: flex;
      margin: 5px 0 0 24px;
      color: #F90000;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  p {
    margin: -15px 0 10px 22px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  .btn {
    border: none;

    &:hover {
      color: #fff;

      svg path {
        fill: #fff;
      }
    }
  }
}

/*end contacts===============*/


/*start footer=============*/
.footer {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 700px;
    background-image: url("../images/dest/icons/contacts-bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom right;
    z-index: -1;
  }

  &__inner {
    border-top: 1px solid #fff;
    padding: 20px 0 33px;
  }

  p {
    margin: 0;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 300;
    line-height: 120%;
  }
}

/*end footer=============*/


.modal {
  padding: 90px 30px 30px 30px;
  display: none;
  max-width: 737px;
  width: 100%;
  border-radius: 30px;
  background-color: #0F0E0E;
  background-image: url("../images/dest/content/modal-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.fancybox-slide--html .fancybox-close-small {
  top: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  opacity: 1;
}









@import "media";